.loadImg { margin: 100px 0 0 200px; }

.container { border: 1px solid #ddd; padding: 40px; position: absolute; top: 190px; right: 90px; }

.container p a:nth-of-type(1) { color: #f450a2; font-size: 18px; font-weight: 900; }

.container p a:nth-of-type(2) { color: #f450a2; font-size: 12px; margin-left: 115px; }

.container #phone { width: 302px; height: 40px; margin: 10px 0; }

.container #password { width: 302px; height: 40px; margin: 10px 0; }

.container #btn { border: 0; margin: 10px 0; width: 320px; height: 38px; line-height: 38px; text-align: center; color: #fff; font-size: 18px; background: #f450a2; }

#copy { margin: 30px 0 0 320px; }
